.nav{
    background-color: white;
}
.nav>svg{
    height: 34px;
    /* margin-left: 195px; */
    margin-left: 12.5%;
    color: #0A66C2;
    margin-top: 15px;
}
.nav>button:nth-child(2){
    margin-left: 52%;
    height: 40px;
    width: 95px;
    background-color: white;
    border:none;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
}
.nav>button:nth-child(2):hover{
    background-color: rgb(230, 230, 230);
}
.nav>button:nth-child(3){
    height: 40px;
    width: 100px;
    background-color: white;
    border:1.5px solid #0063c7;
    border-radius: 20px;
    font-size: 17px;
    color: #0052a5;
    cursor: pointer;
    margin-left: 10px;
}
.nav>button:nth-child(3):hover{
    background-color: #d6ebff;
    border:2px solid #0056ac;
}

/* intro */
.intro{
    display: flex;
    flex-direction: row;
    height: 570px;
    background-color: white;
}
.intro>div{
    margin-left: 13%;
    margin-top: 45px;
}

.intro>div>p{
    font-size: 55px;
    font-weight: 100;
    color: #905A4B;
    margin-bottom: 50px;
}
.intro>div>div{
    margin-top: 15px;
    width: 390px;
    height: 55px;
    border: 2px solid #e9e9e9;
    border-radius: 9px;
}
.intro>div>div:hover{
box-shadow: 1px 8px 10px rgb(218, 218, 218);
}
.intro>div>div>p{
    font-size: 20px;
    margin: 13px;
    color: rgb(51, 51, 51);
    width: 325px;
    display: inline-block;
}
.intro>div>div>span{
    font-size: 25px;
    color: gray;
}

.intro img{
    height: 560px;
    position: absolute;
    right: 0;
    margin-right: 60px;
    margin-top: 5px;
}
/* find jobs */

.find{
    /* margin-top: 120px; */
    background-color: #FAF9F7;
    height: 500px;
}